<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("./partials/global-styles") %>
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/categories.css" />
    <title><%= title %> | TechNova</title>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <% categories.forEach((category) => { %>
      <a href="/categories/<%= category.category_id %>">
        <div class="category-card">
          <div class="text">
            <h3><%= category.category_name %></h3>
            <img
              src="/images/right-arrow.svg"
              alt="right arrow indicating navigating to category when clicked"
            />
          </div>
          <div class="image">
            <img src="<%= category.category_name === "Smart Phones" ? '/images/smart-phones-category.jpg' :
            category.category_name === 'Laptops' ? '/images/laptops-category.jpg' : category.category_name ===
            'Smart Watches' ? '/images/smart-watches-category.jpg' : 'https://placehold.co/200x150' %>"
            alt="<%= category.category_name %> placeholder image" />
          </div>
        </div>
      </a>
      <% }) %>
    </main>
  </body>
</html>
