<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("./partials/global-styles") %>
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/categories.css" />
    <title><%= title %> | TechNova</title>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <a href="/categories/<%= smartPhones.category_id %>">
        <div class="category-card">
          <div class="text">
            <h3><%= smartPhones.category_name %></h3>
            <img
              src="/images/right-arrow.svg"
              alt="right arrow indicating navigating to category when clicked"
            />
          </div>
          <div class="image">
            <img src="/images/smart-phones-category.jpg" alt="placeholder image" />
          </div>
        </div>
      </a>
      <a href="/categories/<%= laptops.category_id %>">
        <div class="category-card">
          <div class="text">
            <h3><%= laptops.category_name %></h3>
            <img
              src="/images/right-arrow.svg"
              alt="right arrow indicating navigating to category when clicked"
            />
          </div>
          <div class="image">
            <img src="/images/laptops-category.jpg" alt="placeholder image" />
          </div>
        </div>
      </a>
      <a href="/categories/<%= smartWatches.category_id %>">
        <div class="category-card">
          <div class="text">
            <h3><%= smartWatches.category_name %></h3>
            <img
              src="/images/right-arrow.svg"
              alt="right arrow indicating navigating to category when clicked"
            />
          </div>
          <div class="image">
            <img src="/images/smart-watches-category.jpg" alt="placeholder image" />
          </div>
        </div>
      </a>
      <% categories.forEach((category) => { %>
      <a href="/categories/<%= category.category_id %>">
        <div class="category-card">
          <div class="text">
            <h3><%= category.category_name %></h3>
            <img
              src="/images/right-arrow.svg"
              alt="right arrow indicating navigating to category when clicked"
            />
          </div>
          <div class="image">
            <img src="https://placehold.co/200x150" alt="placeholder image" />
          </div>
        </div>
      </a>
      <% }) %>
    </main>
  </body>
</html>
