<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/global-styles") %>
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/category.css" />
    <title><%= title %> | TechNova</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <form popover id="delete-category" method="POST" action="/categories/<%= category.category_id %>/delete">
      <div>
        <p>Deleting this category will also delete ALL items within it</p>
        <p>Are you sure you want to proceed?</p>
        <button type="submit">Confirm</button>
      </div>
    </form>
    <main>
      <div class="dropdown <%= isCategoryFeatured ? 'hidden' : '' %>">
        <button class="dropbtn">
          <img src="/images/dots-vertical.svg" alt="Options" />
        </button>
        <div class="dropdown-content">
          <a href="/categories/<%= category.category_id %>/update">Edit</a>
          <button popovertarget="delete-category">Delete</button>
        </div>
      </div>
      <section class="category">
        <h2><%= category.category_name%></h2>
        <img src="<%= category.category_name === "Smart Phones" ? '/images/smart-phones-category.jpg' :
        category.category_name === 'Laptops' ? '/images/laptops-category.jpg' : category.category_name ===
        'Smart Watches' ? '/images/smart-watches-category.jpg' : 'https://placehold.co/200x150' %>" alt="<%=
        category.category_name %> placeholder image" />
      </section>
      <hr />
      <section class="<%= hasItems ? 'items' : '' %>">
        <% if (hasItems) { %> <% rows.forEach(row => { %>
        <a href="/items/<%= row.item_id %>" class="item-card card">
          <div class="item-text">
            <p class="item-name"><%= row.item_name %></p>
            <p class="item-description"><%= row.item_description %></p>
            <p class="item-price"><%= row.item_price %>$</p>
          </div>
          <div class="image">
            <img
              src="<%= row.item_name === 'iPhone 12' ? '/images/iphone12.jpg' : row.item_name === 'MacBook Air (M2)' ? '/images/macbook-air.jpg' : row.item_name === 'Apple Watch Series 8' ? '/images/apple-watch.jpg' : 'https://placehold.co/200x150' %>"
              alt="<%= row.item_name %> placeholder image"
            />
          </div>
        </a>
        <% }) %> <% } else { %>
        <p class="empty">This category has no items</p>
        <%} %>
      </section>
    </main>
  </body>
</html>
