<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("./partials/global-styles") %>
    <link rel="stylesheet" href="/styles/index.css" />
    <title><%= title %> | TechNova</title>
  </head>
  <body>
    <nav class="nav">
      <div></div>
      <hr />
      <img class="logo" src="/images/logo.svg" alt="logo" />
      <ul>
        <li>
          <a href="/" class="primary">Home</a>
          <a href="/items" class="secondary">All Items</a>
        </li>
        <li>
          <a class="primary" href="/categories">Categories</a>
          <div class="categories">
            <% categories.forEach(category => { %>
            <a class="secondary" href="/categories/<%= category.category_id %>"
              ><%= category.category_name %></a
            >
            <% }) %>
          </div>
        </li>
        <li>
          <a class="primary" href="/about">About</a>
        </li>
      </ul>
    </nav>
    <div class="hero">
      <div class="hamburger-container">
        <div class="button-container">
          <span>TechNova</span>
          <button class="hamburger">
            <div class="bar"></div>
          </button>
        </div>
      </div>
      <hr />
      <div class="hero-text-container">
        <p>
          TechNova is the ultimate inventory management app for tech items. Designed to streamline stock
          tracking and organization, it offers intuitive management of categories like smartphones, laptops,
          accessories, and more.
        </p>
        <h1>TechNova</h1>
      </div>
      <div class="hero-cards-container">
        <a href="/items/<%= featuredItem.item_id %>" class="featured-item card">
          <div class="featured-item-content">
            <img src="/images/iphone12.jpg" alt="black colored iPhone 12 next to it's white colored box" />
            <div class="featured-item-text">
              <p class="featured-item-category"><%= featuredItem.item_name %></p>
              <p class="featured-item-description"><%= featuredItem.item_description %></p>
            </div>
          </div>
        </a>
        <div class="hero-links">
          <a href="/items">All items</a>
          <a href="/about">About us</a>
        </div>
        <a href="/" class="hero-locations card">
          <img src="/images/map.svg" alt="Map of the entire world" />
          <p>Locations</p>
        </a>
        <a href="/categories" class="hero-categories card">
          <img
            src="/images/categories.jpg"
            alt="Multiple tech gadgets well-arranged with black gadgets on a white background on the left side and white gadgets with dark background on the right side"
          />
          <p>Categories</p>
        </a>
      </div>
    </div>
    <main>
      <h2>Get started</h2>

      <div class="get-started-container">
        <a href="/categories/create" class="get-started-card">
          <div class="get-started-text">
            <h3>Create a new category <img src="/images/right-arrow.svg" alt="right arrow" /></h3>
            <p>Add a new category to organize your inventory</p>
          </div>
          <div class="get-started-img">
            <img
              src="/images/create-category.jpg"
              alt="dark colored samsung galaxy s7 edge on a wooden table"
            />
          </div>
        </a>
        <hr />
        <a href="/items/create" class="get-started-card">
          <div class="get-started-text">
            <h3>Create a new item <img src="/images/right-arrow.svg" alt="right arrow" /></h3>
            <p>Add a new item to a category of your choice</p>
          </div>
          <div class="get-started-img">
            <img src="/images/create-item.jpg" alt="bronze samsung headphones in it's white colored box" />
          </div>
        </a>
      </div>
    </main>
    <script src="/scripts/index.js"></script>
  </body>
</html>
